String name;
String description;
String location;
String startDate;
String endDate;
String bookingDate;
String price;
String image;
String video;
<a type="button" th:href="@{/addpackage}">blogs</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>name</th>
			<th>name</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="m:${medias}">
			<td th:text="${m.title}"></td>
			<td><a type="button" class="btn btn-primary"
				th:href="@{/media/{id}(id=${m.id}) }"><span
					class="fa fa-edit"></span>edit</a></td>
		</tr>

	</tbody>
</table>